<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <%-include ../partials/head%>
    <title>SB Admin 2 - Blank</title>
</head>

<body class="bg-gradient-primary" ng-app="registerUserApp" ng-controller="registerUserAppCtrlr">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" name="form">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="firstName" id="firstName"
                                            ng-model="user.firstName" placeholder="First Name" ng-minlength="2" ng-maxlength="10" required>
                                        <div ng-messages="form.firstName.$error" ng-if="form.firstName.$touched">
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                            <p class="error-text pl-2" ng-message="minlength">This field is too short.</p>
                                            <p class="error-text pl-2" ng-message="maxlength">This field is too long.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lastName" name="lastName"
                                            ng-model="user.lastName" placeholder="Last Name" ng-minlength="2" ng-maxlength="10" required>
                                        <div ng-messages="form.lastName.$error" ng-if="form.lastName.$touched">
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                            <p class="error-text pl-2" ng-message="minlength">This field is too short.</p>
                                            <p class="error-text pl-2" ng-message="maxlength">This field is too long.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user" id="email" name="email" ng-model="user.email"
                                            placeholder="Email" required>
                                        <div ng-messages="form.email.$error" ng-if="form.email.$touched">
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                            <p class="error-text pl-2" ng-message="email">Invalid email.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control form-control-user" id="mobile" name="mobile" ng-model="user.mobile"
                                            placeholder="Mobile" ng-pattern="/^[789]\d{9}$/" required>
                                        <div ng-messages="form.mobile.$error" ng-if="form.mobile.$touched">
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                            <p class="error-text pl-2" ng-message="pattern">Invalid mobile number.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" name="password" ng-model="user.password" placeholder="Password" required>
                                        <div ng-messages="form.password.$error" ng-if="form.password.$touched" required>
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="confirmPass" name="confirmPass" ng-model="user.confirmPass" placeholder="Repeat Password" ng-pattern="user.password" required>
                                        <div ng-messages="form.confirmPass.$error" ng-if="form.confirmPass.$touched" required>
                                            <p class="error-text pl-2" ng-message="required">This field is required.</p>
                                            <p class="error-text pl-2" ng-message="pattern">Password Does Not Match.</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" ng-disabled="!form.$valid" ng-click="registerUser()">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%-include ../partials/bodyScripts%>
    <script src="/ngapps/registerUser.js"></script>
</body>

</html>